body {
  background-color: #202124;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  z-index: 0;
  position: relative;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.input-box {
  margin-top: 30px;
  border: solid #969696 1px;
  display: grid;
  grid-template-columns: auto;
  border-radius: 6px;
  box-shadow: 3px 5px #1717176c;
}
.input {
  background-color: #202124;
  border: none;
  /* border: solid rgb(132, 131, 131) 1px; */
  border-radius: 5px;
  width: 400px;
  height: 30px;
  color: white;
  font-family: "Franklin Gothic Medium";
  padding: 10px 10px 10px 20px;
}
.title-input {
  display: none;
}

input::placeholder {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #969696;
  font-size: 14px;
}

input:focus {
  border: none;
  outline: none;
}
.add-btn {
  margin-left: 330px;
}

.close-btn,
.add-btn {
  margin-bottom: 10px;
  /* width: 20px; */
  background-color: #202124;
  border: none;
  color: white;
  cursor: pointer;
  padding: 6px;
}

button:hover {
  background-color: #3b3d3f;
  border-radius: 5px;
}
.btn-display {
  display: none;
}
.container-main{
     margin-top: -80px;
}
.note-container {
  width: 220px;
  max-height: 300px;
  border: solid 1px #969696;
  background-color: none;
  border-radius: 5px;
  margin: 30px 20px; 
  overflow-y: scroll;
  display: inline-block;
  vertical-align: top;
  height: auto;
  
}
.note-container:hover .trash-bin{
     opacity: 0.5;
}
.note-container:hover .rewrite-icon{
     opacity: 0.5;
}
.title-note {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  /* border: solid 1px #969696; */
  color: white;
  padding: 12px 16px 12px 16px;
}
.note-text {
  /* border: solid 1px #969696; */
  color: white;
  padding: 12px 16px 12px 16px;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
}
.trash-bin{
  cursor: pointer;
  margin-left: 10px;
  opacity: 0;
  margin-bottom: 5px;
}
.rewrite-icon{
     cursor: pointer;
     margin-left: 150px;
     opacity: 0;
     margin-bottom: 5px;
}

@media (max-width: 600px) {
     .container-main {
       flex-direction: column; /* Changes flex direction to column */
       align-items: center; /* Centers the child divs */
       
       
     }
   
     .note-container {
       width: 90%; /* Makes divs wider to fill more space */
     }
   }

   ::-webkit-scrollbar {
     width: 12px; /* Width of the vertical scrollbar */
     height: 12px; /* Height of the horizontal scrollbar */
   }

/* focused area */

.focusedContainer{
     background-color: #202124;
     width: 50%;
     min-width: 130px;
     height: auto;
     border: solid 1px #969696;
     border-radius: 5px;
     position: absolute;
     display: none;
}

.focusedContainerMain{
     display: flex;
     justify-content: center;
     align-items:center;
     z-index: -1;
     margin-top: 80px;
     opacity: 1;
     
}

.title, .note{
     color: white;
     font-family: Arial, Helvetica, sans-serif;
     margin: 5px;
}

.note{
     /* border: 1px solid whitesmoke; */
     padding: 12px;
     font-weight: 200;
     font-size:14px;
}

.title{
     /* border: 1px solid white; */
     padding: 12px;
     font-weight: 600;
     font-size:18px;
}

.closebtnOnFocused{
     margin-left: 85%;
     background-color:#202124;
     border: none;
     color: white;
     margin-bottom: 10px;
     padding: 8px;
}